{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>Blinkeu Mod Mail</h1>
        <h5 class="header col s12 light grey-text">Blinkeu's storage for logs/messages and more.</h5>
        <br>
        <div class="row center">
            <a href= discord.gg/gXncUkF" class="btn waves-effect my-button">Discord</a>
            <a href="https://disboard.org/server/573976030927126558" class="btn waves-effect my-button">Disboard</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}
